VUE_APP_I18N_FALLBACK_LOCALE=en (default language)
VUE_APP_BASE_URL=your api url
VUE_APP_FIREBASE_API_KEY=your firebase api key
VUE_APP_FIREBASE_AUTH_DOMAIN=your firebase auth domain
VUE_APP_FIREBASE_PROJECT_ID=your firebase project id
VUE_APP_FIREBASE_STORAGE_BUCKET=your firebase storage bucket
VUE_APP_FIREBASE_MESSAGINGSENDER_ID=your firebase messaging sender id
VUE_APP_FIREBASE_APP_ID=your firebase app id